---
import Download from "./icons/Download.astro";
---

<button
  class="flex gap-2 absolute top-[-40px] sm:top-0 sm:right-8 bg-white shadow px-4 py-2 text-gray-900 font-semibold hover:bg-yellow-400 hover:rounded-lg hover:scale-105 transition-all duration-300 print:hidden"
>
  <p>Download CV</p>
  <Download color="/" />
</button>

<script>
  document.getElementsByTagName("button")[0].addEventListener("click", () => {
    window.print();
  });
</script>
