---
import Title from "../components/Title.astro";
import { info } from "../info.js";

const { projects } = info;
---

<Title text="Projects" />

<ul class="grid grid-cols-2 gap-2 mt-4 mb-6">
  {
    projects.map((project) => (
      <li class="mb-1">
        <h3 class="font-semibold uppercase">
          <span>⭐</span>
          <a href={project.url} target="_blank">
            {project.name}
          </a>
        </h3>
        <p>{project.description}</p>
      </li>
    ))
  }
</ul>
